LITELLM_BASE=http://10.20.0.153:4000/v1
LITELLM_API_KEY=
KAIROS_BASE=https://raw-charts.dubtown-server.us
DUBTOWN_API_KEY=
BIRTH_NAME=
BIRTH_DATE=
BIRTH_TIME=
BIRTH_LATITUDE=
BIRTH_LONGITUDE=
BIRTH_CITY=
BIRTH_TZ_OFFSET=
CURRENT_LATITUDE=
CURRENT_LONGITUDE=
ENABLE_MCP=false
